body {
    margin: 0;
    padding: 0;
    background-color: darkblue;
}

header {
    background-color: white;
    padding: 40px;
    box-shadow: 0 0 10px black;
}

h1 {
    font-family: 'Raleway', sans-serif;
    letter-spacing: 4px;
    width: 100%;
    text-align: center;
    font-size: 60px;
    margin: 0;
    padding: 0;
    padding-bottom: 60px;
}

p {
    margin: auto;
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    font-size: 40px;
    background-color: white;
}

form {
    width: 40%;
    margin: auto;
}

form input {
    width: 68%;
    font-size: 30px;
    padding-left: 10px;
}

form button {
    width: 25%;
    font-size: 30px;
    color: #666;
    background-color: #ddd;
}

#list {
   margin: auto;
   width: 80%;
   max-width: 1000px;
   background-color: orange;
}

table {
    margin-left: 20px;
    font-size: 20px;
    font-family: sans-serif;
}

tr {
    border-radius: 3px;
    border: solid 2px grey;
}

.remove {
    background-color: orange;
    font-size: 20px;
    color: white;
    font-family: sans-serif;
    border: none;
    border-radius: 4px;

}
